# Java
*.class
*.jar
*.war
*.ear
*.db
*.log

# Vaadin
/.mvn
/.idea
/.vscode
/.vaadin
/.mvn/
target/
out/

# Spring Boot
/.spring-boot-devtools/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Eclipse
.project
.classpath
.settings/

# Maven
/.mvn
/mvnw
/mvnw.cmd

# Gradle
/.gradle
/build/
.gradle/

node_modules
